<header class="header">
    <nav class="navbar">
        <div class="navbar_logo">
            <img class="navbar_logo" src="https://img.icons8.com/windows/32/null/fedex.png">
        </div>
        <div class="dp_menu">
            <input type="checkbox" id="checkbtn">
            <label for="checkbtn">
                <i class="gg-menu"></i>
            </label>
            <ul class="dp_main_menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Especialidades</a>
                    <ul>
                        <li><a href="#">Estetica</a></li>
                        <li><a href="#">Fisioterapia</a></li>
                        <li><a href="#">Fonoaudiologia</a> </li>
                        <li><a href="#">Odontologia</a></li>
                        <li><a href="#">Psicologia</a></li>
                    </ul>
                </li>
                </li>
                <li><a href="#">Atendimento</a>
                    <ul>
                        <li><a href="#">Exames</a></li>
                        <li><a href="#">Agendamentos</a></li>
                        <li><a href="#">Contatos</a></li>
                    </ul>
                </li>
                <li><a hre f="#">Quem Somos</a></li>
            </ul>
        </div>
    </nav>
</header>