{% include 'partials/head.html' %}

<body>
    {% include "partials/header.html" %}
    <main class="main">
        <div class="welcome-container">
            <h1>Seja Bem-Vindo</h1>
            <button class="register-button">
                <a href="#">Cadastrar-se</a>
            </button>
        </div>
        <div class="specialties-main">
            <div>
                <h1>Especialidades</h1>
            </div>

            <ul>
                <li>
                    <img src="https://s3-sa-east-1.amazonaws.com/projetos-artes/fullsize%2F2019%2F01%2F17%2F14%2FLogo-251804_341712_144218264_1405170843.jpg"
                        alt="specialtie-img">
                    <h2>Estetica</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit incidunt laborum inventore dolore
                        blanditiis, similique quas saepe eligendi quia, maxime, amet et sapiente accusamus architecto
                        cupiditate. Aliquam soluta necessitatibus non?</p>
                    <h3 class="procedures-name">Procedimentos</h3>
                    <section>

                        <p>item1</p>
                        <p>item2</p>
                        <p>item3</p>
                        <p>item4</p>
                        <p>item5</p>
                        <p>item6</p>
                    </section>
                    <h3>Especialista: Dr.Aaaaaaa</h3>
                    <div><a href="#">DETALHES</a></div>
                </li>
                <li>
                    <img src="https://s3-sa-east-1.amazonaws.com/projetos-artes/fullsize%2F2019%2F01%2F17%2F14%2FLogo-251804_341712_144218264_1405170843.jpg"
                        alt="specialtie-img">
                    <h2>Fisioterapia</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit incidunt laborum inventore dolore
                        blanditiis, similique quas saepe eligendi quia, maxime, amet et sapiente accusamus architecto
                        cupiditate. Aliquam soluta necessitatibus non?</p>
                    <h3 class="procedures-name">Procedimentos</h3>
                    <section>

                        <p>item1</p>
                        <p>item2</p>
                        <p>item3</p>
                        <p>item4</p>
                        <p>item5</p>
                        <p>item6</p>
                    </section>
                    <h3>Especialista: Dr.Aaaaaaa</h3>
                    <div><a href="#">DETALHES</a></div>

                </li>
                <li>
                    <img src="https://s3-sa-east-1.amazonaws.com/projetos-artes/fullsize%2F2019%2F01%2F17%2F14%2FLogo-251804_341712_144218264_1405170843.jpg"
                        alt="specialtie-img">
                    <h2>Fonodiologa</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit incidunt laborum inventore dolore
                        blanditiis, similique quas saepe eligendi quia, maxime, amet et sapiente accusamus architecto
                        cupiditate. Aliquam soluta necessitatibus non?</p>
                    <h3 class="procedures-name">Procedimentos</h3>
                    <section>

                        <p>item1</p>
                        <p>item2</p>
                        <p>item3</p>
                        <p>item4</p>
                        <p>item5</p>
                        <p>item6</p>
                    </section>
                    <h3>Especialista: Dr.Aaaaaaa</h3>
                    <div><a href="#">DETALHES</a></div>
                </li>
                <li>
                    <img src="https://s3-sa-east-1.amazonaws.com/projetos-artes/fullsize%2F2019%2F01%2F17%2F14%2FLogo-251804_341712_144218264_1405170843.jpg"
                        alt="specisaltie-img">
                    <h2>Odontologia</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit incidunt laborum inventore dolore
                        blanditiis, similique quas saepe eligendi quia, maxime, amet et sapiente accusamus architecto
                        cupiditate. Aliquam soluta necessitatibus non?</p>

                    <h3 class="procedures-name">Procedimentos</h3>
                    <section>

                        <p>item1</p>
                        <p>item2</p>
                        <p>item3</p>
                        <p>item4</p>
                        <p>item5</p>
                        <p>item6</p>
                    </section>
                    <h3>Especialista: Dr.Aaaaaaa</h3>
                    <div><a href="#">DETALHES</a></div>

                </li>
                <li>
                    <img src="https://s3-sa-east-1.amazonaws.com/projetos-artes/fullsize%2F2019%2F01%2F17%2F14%2FLogo-251804_341712_144218264_1405170843.jpg"
                        alt="specialtie-img">
                    <h2>Psicologia</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit incidunt laborum inventore dolore
                        blanditiis, similique quas saepe eligendi quia, maxime, amet et sapiente accusamus architecto
                        cupiditate. Aliquam soluta necessitatibus non?</p>
                    <h3 class="procedures-name">Procedimentos</h3>
                    <section>

                        <p>item1</p>
                        <p>item2</p>
                        <p>item3</p>
                        <p>item4</p>
                        <p>item5</p>
                        <p>item6</p>
                    </section>
                    <h3>Especialista: Dr.Aaaaaaa</h3>
                    <div><a href="#">DETALHES</a></div>

                </li>
            </ul>
        </div>
    </main>
</body>

</html>